{% extends "layout.html" %}
{% block content %}




<div class="container">


    <div class="about-container">
        <h1 class="h4 mb-2 fw-normal">About</h1>
        <div class="about-p"><p>{{about|safe}}</p></div>
    </div>

    
    <form  id ="aboutform" method="POST" action="/about">
      <div class="form-group">
        <label class="form-label">Update your "about" section below</label>
        <div id="editor">{{ about|safe }}</div>
        <input type="hidden" name="about" id="new_about_me">
      </div>

      <div class="about-btn">
        <button class="btn btn-primary" type="submit">Confirm</button>
      </div>
    </form>

</div>
  


{% endblock content %}
