{% extends "layout.html" %}
{% block content %}

<div class="container">

    <div class="projects-container">
        <h1 class="h4 mb-2 fw-normal text-center">Projects</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="alert alert-{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="container text-left px-3 gy-3">
            {% if user_projects%}
                {% for project in user_projects %}
                    <div class="project-container position-relative">
                            <div class="row text-left ">
                                <div class="col-12 col-md-4 pic-container text-left img-fluid"><img class="proj-img rounded border border-dark-subtle" src="{{url_for('static',filename='uploads/' + project.project_screenshot)}}"></div>

                                <div class="col-12 col-md-8 proj-content text-left">
                                    <div class="">
                                        <div class="proj-name"><a class="project-link" href="{{project.project_url if project.project_url else '#'}}"><h5>{{project.project_name}}</h5></a></div>
                                        <div class="proj-description position-relative"> <p>{{project.project_description}}</p> </div>
                                    </div>
                                    {% if project.tags %}
                                        <div class="exp-tags ">
                                        {% set tags = project.tags.split(',') %}
                                        {% for tag in tags%}
                                            <button type="button" class="btn btn-outline-secondary tag ">{{tag}}</button>
                                        {% endfor %}
                                        </div>
                                    {% endif %}

                                    <div class="position-absolute top-0 end-0">
                                        <a href="{{url_for('edit_project', id=project.project_id)}}"><button class="btn btn-success edit-delete">Edit</button></a>
                                        <form action="{{ url_for('delete_project', id=project.project_id) }}" method="POST" style="display: inline;">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <button type="submit" class="btn btn-danger edit-delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                                        </form>
                                    </div>
                
                                </div>
                                    
                            </div>
                    </div>
                {% endfor %}
            {% endif %}
            

    </div>

        
        
    <div class="container text-left form-container">
        <p class="text-center">Add your projects below. List your most relevant project first.</p>
        <form action="/projects" method="POST" class="row g-2" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <!-- Project name -->
            <div class="mb-3 col-md-12">
                <label for="project-name" class="form-label">Project name</label>
                <input type="text" name="project-name" class="form-control"  placeholder="Portfolio Builder" required>
            </div>
            
            <!-- Project description -->
            <div class="mb-3 col-md-12">
                <label for="project-description" class="form-label">Description</label>
                <textarea id="project-description" name="project-description" class="form-control" rows="6" placeholder="A brief overview of your project." required></textarea>
            </div>

            <!-- Project screenshot -->
            <div class="mb-3 col-md-12">
                <label for="project-screenshot" class="form-label">Screenshot (Optional)</label>
                <input type="file" name="project-screenshot" class="form-control"  accept="image/*" aria-describedby="screenshothelpblock">
                <div id="screenshothelpblock" class="form-text">
                    Upload a screenshot for your project. Default image will be used if no image is uploaded.
                </div>

            </div>

            <!-- Project URL -->
            <div class="mb-3 col-md-12">
                <label for="project-url" class="form-label">Project URL (Optional)</label>
                <input type="text" name="project-url" class="form-control" placeholder="https://yourawesomeproject.com/" aria-describedby="project-urlhelpblock">
                <div id="project-urlhelpblock" class="form-text">
                    Provide a link for viewers to see your project.
                </div>
            </div>

            
            <!-- Tags -->
            <div class="mb-3 col-md-12">
                <label for="project-tags" class="form-label">Tags (Optional)</label>
                <input type="text" id="project-tags" name="project-tags" class="form-control" placeholder="HTML,CSS,JavaScript" aria-describedby="tagshelpblock">
                <div id="tagshelpblock" class="form-text">
                    Add tags under your project following the format of the placeholder. You can add technologies and/ or skills used in the project.
                </div>
            </div>

            <!-- Display order -->
            <div class="mb-3 col-md-12">
                <label for="project-order" class="form-label">Display order (Optional)</label>
                <input type="number" min="1" name="project-order" class="form-control"  placeholder="1" aria-describedby="orderhelpblock">
                <div id="orderhelpblock" class="form-text">
                    Assign a number to display your projects in ascending order.
                </div>
            </div>
            
            
            <!-- Submit Button -->
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Add project</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
