
#header-icon{
  height: 50px;
  padding: 0px 20px;
}

a{
  color:#00ADB5;
  text-decoration: none;
}

a:hover{
  color:#00acb57b;
}

html {
  scroll-behavior: smooth;
}


main {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f4f7;
}

.login-container{
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0px auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-container{
  background-color: #fff;
  border-radius:  8px;
  border-top: 1px solid #dadde1;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  width: 600px;
}

@media (max-width: 800px){
  .form-text{
    font-size:small;
    display:none;
  }
}


#register-hr{
  margin: 16px 0px;
}

#register-subtext{
  margin: 0px 0px 8px 0px;
  color: #606770;
  font-size: smaller;
}

.register-btn{
  margin-top: 16px;
}

.dashboard-container{
  max-width: 800px;
}

.about-container{
  max-width: 800px;
  border-radius: 10px;
  background-color: #222831;
  padding: 10px;
  margin: 16px auto;
}

.about-btn{
  margin-top: 16px;
}

#editor{
  background-color: white;
}

.skills-container{
  max-width: 900px;
  padding: 10px;
  margin: 16px auto;
}

.skill-container{
  max-width: 275px;
  padding: 5px;
  margin: 12px auto;
  background-color: #222831;
}

.skill-container:hover{
  background-color: #2A3139;
}


.skill-icon{
  max-width: 100px;
}

.skill-name{
  font-weight: bold;
  font-size: large;
  color: #00ADB5;
}

.skill-content{
  font-size: small;
  margin: 5px auto;
  color: #EEEEEE;
}

.edit-delete{
  font-size: small;
  padding:3px;
}


.exp-container{
  max-width: 750px;
  background-color: #222831;
  margin: 16px auto;
}

.exp-row{
  padding: 25px;
  margin: 16px auto;
  border-radius: 10px;
}

.exp-row:hover{
  background-color: #2A3139;
}

.exp-date{
  font-size: smaller;

}

.exp-description{
  color: #EEEEEE;
}

.exp-tags{
  border: 3px;
  margin-bottom: 3px;
}


.form-check-label{
  font-size: smaller;
}

.tag{
  font-size: small;
  font-weight: bold;
  color: #5eead4;
  border: 0px solid ;
  background-color: #4e998f2f;
  margin:3px 1px;
}

.tag:hover{
  color:#5eead4;
  border: 0px solid;
  background-color: #4e998f2f;

}

.proj-img{
  width: 220px;
  max-height: 185px;
}

@media (max-width: 800px) {
  .proj-img{
    margin-bottom: 12px;
  }
}

.project-container{
  max-width: 750px;
  padding: 25px;
  margin: 16px auto;
  background-color: #222831;
  border-radius: 10px;
}

.project-container:hover{
  background-color: #2A3139;
}


.project-link{
  color:white;
  text-decoration: none;

}

.project-link:hover{
  color:#00ADB5;
}


.proj-content{
  padding-left: 25px;
  padding-right: 25px;
}

.proj-description{
  color:#EEEEEE;
}

.port-container{
  padding-left: 48px;
  padding-right: 48px;
  background-color: #222831;
}

.contact-btn{
  margin: 20px 6px;
  border-color: #00ADB5;
  border-radius: 0px;
  border-width: 2px;
  color:#00ADB5;
  font-weight: bold;
}

.contact-btn:hover{
  background-color: #00ADB5;
  color: #fff;
}

.port-user-info{
  background-color: #222831;
  position: sticky;
  top: 0;
  height: 100vh;
}

.port-name{
  padding-top: 26px;
}

.port-role{
  padding-bottom: 8px;
}

.port-headline{
  max-width: 250px;
  color:#94A3B8;
}



.port-nav-link{
  color:#94A3B8;
}

.port-nav-link.active{
  color:#ffff;
  font-size: larger;
}

.port-nav-link:hover{
  color:#ffff;
  font-size: larger;
}


.port-main{
  background-color: #222831;
  padding-top: 0;
}

.port-about{
  padding-top:42px;
}

.port-skills{
  margin-top: 66px;
  padding-top: 30px;
}

.port-exp{
  margin-top: 66px;
  padding-top: 30px;
}

.port-proj{
  margin-top: 66px;
  padding-top: 30px;
}



.experience-container{
  border-radius: 10px;
  padding:20px 0;
}
.experience-container:hover{
  background-color: #2A3139;
}


.port-footer{
  background-color: #393E46;
  margin: 0px;
}

@media (max-width: 800px){
  .port-user-info{
    height: 70vh;
  }
  
  .port-about{
    padding-top: 12px;
  }
  
  .port-skills{
    margin-top: 6px;
    padding-top: 6px;
  }
  
  .port-exp{
    margin-top: 6px;
    padding-top: 6px;
  }
  
  .port-proj{
    margin-top: 6px;
    padding-top: 6px;
  }
  
}