{% extends "layout.html" %}
{% block content %}
<div id="movie_content">
    <div id="cover">
        <img src="{{url_for('static',filename='img/'+ actor.photo_url)}}" alt="Photo" 
        width="250" height="300">
    </div>
    <div id="movie_info" >
        <ul>
            <li> <strong> Name:</strong>  {{actor.name}} </li>
            <li> <strong> Birthday: </strong> {{actor.birthday}} </li>
            <li> <strong> Description: </strong> {{actor.description}}</li>
        </ul>

        <b> Movies: </b>
        <ul> 
            
            {% for movie in actor.movies  %}
                <li> <a  href="{{url_for('movie_load',movieid=movie.id)}}">  {{movie.title}} </a> </li>
            {% endfor %}            

        </ul>
        
    </div>
    <div></div>
</div>
{% endblock content %}